body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-color:#334155;

}
.container{
        background-color: white;
        width: 30%;
        height: 100vh;
        padding: 10% 5% 0;
        color: black;
        margin-right: 10vh;

}

span{
    color: #3b82f6;
}
.innerContainer{
    font-size: 30px;
    text-align: left;
    border-left: 4px solid black;
    padding: 40px;
    color: black;
}

.innerContainer p:first-child {
  font-family :fantasy;
  font-size : 40px;
  font-weight: 580;
  margin-bottom: 30px;
}
.innerContainer p:nth-child(2){
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: black;
}
.innerContainer p:nth-child(3){
  font-size: 1.3rem;
  color: black;
  margin-bottom: 20px;
 }
 .en{
  margin-top: 30px;
  padding: 14px 35px;
  font-size: 1rem;
  font-weight: 700;
  background: #3b82f6;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  }
 .en:hover{
  color: #b5bdce;
  transform: translateX(5px);
 }

 /* container2 */

 .container2{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 8vh;
  margin-top: 50vh;
  margin-left: 1vh;
  padding-right: 10px;
  padding-left: 10px;
  width: 150px;
  border-radius: 12px;
  gap: 5px;
  animation: practice 4s linear infinite;
  cursor: pointer;
 }

 .component{
  width: 55px;
  height: 40px;
  background-color: wheat;
  border-radius: 12px;
  margin-left: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

 }
 .container2 p{
  font-size: 20px;
  font-weight: 500;
 }

 @keyframes practice{
  0%{
    transform: translateY(0);
  }
  50%{
   transform: translateY(50%);
  }
  100%{
    transform: translateY(0%);
  }
 }

 .container3 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 8vh;
  margin-top: 40vh;
  margin-left: 10vh;
  padding-right: 10px;
  padding-left: 10px;
  width: 150px;
  border-radius: 12px;
  gap: 10px;
  animation: practice 4s linear infinite;
  cursor: pointer;

 }
 .component2{
  width: 40px;
  height: 40px;
  background-color: wheat;
  border-radius: 12px;
  margin-left: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


 }
 .container3 p{
  font-size: 20px;
  font-weight: 550;

 }

 .container4{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 8vh;
  margin-top: 50vh;
  margin-left: 10vh;
  padding-right :
  10px;
  width: 150px;
  border-radius: 12px;
  gap: 10px;
  animation: practice 4s linear infinite;
  cursor: pointer;
}
.container4 p{
  font-size: 20px;
  font-weight: 500;
  padding-left: 5px;
}
.component3{
  width: 40px;
  height: 40px;
  background-color: wheat;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.container5{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 8vh;
  margin-top: 41vh;
  margin-left: 10vh;
  padding-right :  10px;
  margin-right: 15px;
  width: 150px;
  border-radius: 12px;
  gap: 10px;
  animation: practice 4s linear infinite;
  cursor: pointer;
}

.container5 p{
  font-size: 20px;
  font-weight: 500;
  padding-left: 5px;
}